body 
{
color:#432616;
font-family:"Verdana",Sans-serif;
background-image: url("layout/background.png");
background-repeat: repeat-y;
background-size: 100%
font-size:1.00em;
margin-left: 340px;
margin-right: 340px;
background-size: 100%;
}
a:link {color:#59240D;}      /* unvisited link */
a:visited {color:#975C42;}  /* visited link */
a:active {color:#DCA881;}  /* selected link */
}
img
{  border-style: none;
}