body 
{
background-image: url("background.png");
background-repeat: repeat-y;
background-size: 100%
color:#512800;
font-family:"Verdana",Sans-serif;
font-size:0.875em;
margin-left: 260px;
margin-right: 260px;
background-size: 100%;
}
a:link {color:#59240D;}      /* unvisited link */
a:visited {color:#975C42;}  /* visited link */
a:active {color:#DCA881;}  /* selected link */
}
img
{  border-style: none;
}
